    .bgimage {
    /* The image used */
    background-image: url('nature.jpg');
    min-height: 380px;
    /* Center and scale the image nicely */
    background-position: center;
    /* Needed to position the navbar */
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.search_box {
    top: 50%;